@if (good$ | async; as good) {
  <section class="good-details">
<!--    <a-->
<!--      class="good-details__back"-->
<!--      routerLink="/goods">-->
<!--      ← Back to goods-->
<!--    </a>-->
    <button
      class="good-details__back"
      (click)="goBack()">
      ← Back to goods
    </button>

    <div class="good-details__layout">
      <div class="good-details__image-wrapper">
        <img
          class="good-details__image"
          [src]="good.image"
          [alt]="good.name"
        />
      </div>

      <div class="good-details__content">
        <span class="good-details__category">
          {{ good.categoryName }}
        </span>

        <h1 class="good-details__title">
          {{ good.name }}
        </h1>

        <p class="good-details__description">
          {{ good.description }}
        </p>

        <div class="good-details__info">
          @if (good.weightPerGram) {
            <div class="good-details__info-row">
              <span>Weight</span>
              <strong>{{ good.weightPerGram }} g</strong>
            </div>
          }

          <div class="good-details__info-row">
            <span>Country of origin</span>
            <strong>{{ good.manufactureCountry }}</strong>
          </div>

          <div class="good-details__info-row">
            <span>Expiration date</span>
            <strong>{{ good.expirationDate }}</strong>
          </div>
        </div>

        <section class="good-details__section">
          <h2>Composition</h2>
          <p>{{ good.composition }}</p>
        </section>

        <section class="good-details__section">
          <h2>Nutritional value</h2>

          <div class="nutrition">
            <div class="nutrition__item">
              <span>Proteins</span>
              <strong>{{ good.nutritionalValue.proteins }}</strong>
            </div>

            <div class="nutrition__item">
              <span>Fat</span>
              <strong>{{ good.nutritionalValue.fat }}</strong>
            </div>

            <div class="nutrition__item">
              <span>Carbohydrates</span>
              <strong>{{ good.nutritionalValue.carbohydrates }}</strong>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
}
